In [1]:
import pandas as pd

In [2]:
data = { "Math": [85, 78, 92, 60, 74, 88],
         "Science": [80, 82, 89, 65, 70, 90],
         "English": [75, 85, 78, 55, 72, 88], 
         "History": [70, 75, 80, 50, 68, 82] }

In [3]:
students = ["Student 1", "Student 2", "Student 3", "Student 4", "Student 5", "Student 6"]

In [4]:
X= pd.DataFrame(data, index=students)

In [5]:
X

           Math  Science  English  History
Student 1    85       80       75       70
Student 2    78       82       85       75
Student 3    92       89       78       80
Student 4    60       65       55       50
Student 5    74       70       72       68
Student 6    88       90       88       82

In [6]:
#Display the first three rows of the X DataFrame.
X.head(3)

           Math  Science  English  History
Student 1    85       80       75       70
Student 2    78       82       85       75
Student 3    92       89       78       80

In [7]:
# Get the total number of students and subjects recorded in the DataFrame.
a,b=X.shape
print(f"Total no of Students : {a} and total no of subjects : {b}")

Total no of Students : 6 and total no of subjects : 4

In [8]:
#List all subject names and student names.
subject=X.columns.tolist()
student=X.index.tolist()
print(subject)
print(student)

['Math', 'Science', 'English', 'History']
['Student 1', 'Student 2', 'Student 3', 'Student 4', 'Student 5', 'Student 6']

In [9]:
#Display the data type of each column in the DataFrame.
print(X.dtypes)

Math       int64
Science    int64
English    int64
History    int64
dtype: object

In [10]:
#Check if there are any missing values in the DataFrame.
X.isnull().sum()

Math       0
Science    0
English    0
History    0
dtype: int64

In [11]:
# Retrieve the scores of "Student 3" in all subjects.
print(X.loc["Student 3"])

Math       92
Science    89
English    78
History    80
Name: Student 3, dtype: int64

In [12]:
#Extract the scores of all students in "Math".
print(X["Math"])

Student 1    85
Student 2    78
Student 3    92
Student 4    60
Student 5    74
Student 6    88
Name: Math, dtype: int64

In [13]:
#Retrieve the scores of "Student 1" and "Student 4" in "Science" and "English".
print(X.iloc[[0,3],[1,2]])

           Science  English
Student 1       80       75
Student 4       65       55

In [14]:
#Slice the DataFrame to get the first 4 students and the first 3 subjects.
print(X.iloc[:4,:3])

           Math  Science  English
Student 1    85       80       75
Student 2    78       82       85
Student 3    92       89       78
Student 4    60       65       55

In [15]:
#Retrieve the score of "Student 5" in "History" using .loc or .iloc.
print(X.loc["Student 5","History"])

68

In [16]:
#Update the score of "Student 2" in "Math" to 85.
c=X.loc["Student 2","Math"]=85
print(c)

85

In [17]:
#Add a new student, "Student 7", with scores [90, 85, 88, 80] for all subjects.
X.loc["Student 7"]=[90, 85, 88, 80]
print(X)

           Math  Science  English  History
Student 1    85       80       75       70
Student 2    85       82       85       75
Student 3    92       89       78       80
Student 4    60       65       55       50
Student 5    74       70       72       68
Student 6    88       90       88       82
Student 7    90       85       88       80

In [18]:
# Add 5 bonus marks to all students' scores.
X=X+5
print(X)

           Math  Science  English  History
Student 1    90       85       80       75
Student 2    90       87       90       80
Student 3    97       94       83       85
Student 4    65       70       60       55
Student 5    79       75       77       73
Student 6    93       95       93       87
Student 7    95       90       93       85

In [20]:
# Deduct 3 marks from the scores of "Student 4" in all subjects.
X.iloc[3]-3

Math       62
Science    67
English    57
History    52
Name: Student 4, dtype: int64

In [21]:
# Calculate the percentage of marks obtained by each student, assuming each subject has a maximum of 100 marks.
percentage=X.sum(axis=1)/400*100
print(percentage)

Student 1    82.50
Student 2    86.75
Student 3    89.75
Student 4    62.50
Student 5    76.00
Student 6    92.00
Student 7    90.75
dtype: float64

In [22]:
# Calculate the total marks obtained by each student.
totalmarks=X.sum(axis=1)
print(totalmarks)

Student 1    330
Student 2    347
Student 3    359
Student 4    250
Student 5    304
Student 6    368
Student 7    363
dtype: int64

In [23]:
#Determine the total marks scored in each subject.
sub_marks=X.sum(axis=0)
print(sub_marks)

Math       609
Science    596
English    576
History    540
dtype: int64

In [24]:
#Identify the student with the highest total marks.
highest=totalmarks.idxmax()
print(highest)

Student 6

In [25]:
# Find the subject with the lowest total marks.
lowest=totalmarks.idxmin()
print(lowest)

Student 4

In [26]:
#Compute the average marks scored by each student across all subjects
avg=X.mean(axis=1)
print(avg)

Student 1    82.50
Student 2    86.75
Student 3    89.75
Student 4    62.50
Student 5    76.00
Student 6    92.00
Student 7    90.75
dtype: float64